In [1]:
import pandas as pd
import numpy as np

In [2]:
try:
    data = pd.read_csv("data/synthetic_shopping_data.csv")
except Exception as e:
    print(str(e))

In [3]:
data.head()

,id,customer_gender,customer_age,season,category,product,actual_price,discount_applied,customer_sentiments,previous_sales,Previous_sales
0,1,Male,40.0,Spring,Sports,Yoga Mat,36.52,23.0,Negative,0.0,0.0
1,2,Female,42.0,Spring,Clothing,Sweater,57.63,48.0,Neutral,0.0,0.0
2,3,Male,32.0,Winter,NaN,Jacket,127.73,21.0,Negative,0.0,0.0
3,4,Male,53.0,Spring,Clothing,T-Shirt,57.47,37.0,NaN,0.0,0.0
4,5,Male,29.0,Summer,Electronics,Smartwatch,849.67,13.0,Positive,0.0,0.0

In [4]:
data.info()

<class 'pandas.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   5000 non-null   int64
 1   customer_gender      4998 non-null   str
 2   customer_age         4998 non-null   float64
 3   season               4994 non-null   str
 4   category             4989 non-null   str
 5   product              4997 non-null   str
 6   actual_price         4989 non-null   float64
 7   discount_applied     4999 non-null   float64
 8   customer_sentiments  4992 non-null   str
 9   previous_sales       4999 non-null   float64
 10  Previous_sales       4991 non-null   float64
dtypes: float64(5), int64(1), str(5)
memory usage: 429.8 KB

In [5]:
data.isna().sum()

id                      0
customer_gender         2
customer_age            2
season                  6
category               11
product                 3
actual_price           11
discount_applied        1
customer_sentiments     8
previous_sales          1
Previous_sales          9
dtype: int64

In [6]:
categorical_data = data.select_dtypes(include=['object', 'category', 'str']).columns.tolist()
categorical_data

['customer_gender', 'season', 'category', 'product', 'customer_sentiments']

In [7]:
numerical_data = data.select_dtypes(include=['int', 'float']).columns.to_list()
numerical_data

['id',
 'customer_age',
 'actual_price',
 'discount_applied',
 'previous_sales',
 'Previous_sales']

In [8]:
for numerical_column in numerical_data:
    data[numerical_column] = data[numerical_column].fillna(data[numerical_column].mean())
for cat_column in categorical_data:
    data[cat_column] = data[cat_column].fillna(data[cat_column].mode()[0])

data.isnull().sum()

id                     0
customer_gender        0
customer_age           0
season                 0
category               0
product                0
actual_price           0
discount_applied       0
customer_sentiments    0
previous_sales         0
Previous_sales         0
dtype: int64

In [9]:
data = data.drop(['id'], axis=1)
data.isnull().sum()

customer_gender        0
customer_age           0
season                 0
category               0
product                0
actual_price           0
discount_applied       0
customer_sentiments    0
previous_sales         0
Previous_sales         0
dtype: int64

In [10]:
data.dtypes.all()

np.True_

In [11]:
data = data.drop(['Previous_sales'], axis=1)
data.head()

,customer_gender,customer_age,season,category,product,actual_price,discount_applied,customer_sentiments,previous_sales
0,Male,40.0,Spring,Sports,Yoga Mat,36.52,23.0,Negative,0.0
1,Female,42.0,Spring,Clothing,Sweater,57.63,48.0,Neutral,0.0
2,Male,32.0,Winter,Electronics,Jacket,127.73,21.0,Negative,0.0
3,Male,53.0,Spring,Clothing,T-Shirt,57.47,37.0,Negative,0.0
4,Male,29.0,Summer,Electronics,Smartwatch,849.67,13.0,Positive,0.0